@tailwind base;
@tailwind components;
@tailwind utilities;

/* ***********  Hamburger menu  ************* */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000133;
  transform: rotate(0);
  transition: all 0.5s;
  background-color: white;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
/* ***********  Hamburger menu  ************* */

h2 {
  @apply text-transparent bg-clip-text bg-gradient-to-t from-tertiary to-primary;
}

.bg-gradient {
  @apply bg-gradient-to-b from-secondary to-tertiary;
}

.bg-gradient-dark {
  @apply bg-gradient-to-r from-primary to-darkBlue;
}

.footer-bg {
  background: url("../public/congregation.jpg");
  background-size: 100% 100%;
}

@media(max-width: 768px) {
  .footer-bg {
      background-image: url("../public/congregation.jpg")no-repeat fixed center center;
      background-size: cover;
  }
}
